.divider-child {
  position: relative;

  .actions-wrapper {
    $spacing: 0.5rem;

    display: flex;
    position: absolute;
    top: $spacing;
    right: $spacing;
    background-color: rgba(black, 0.5);
    border-radius: 0.25rem;

    & > * {
      cursor: pointer;
      $size: 1.5rem;
      width: $size;
      height: $size;
      color: lightgrey;
      padding: 0.1rem;

      &:hover {
        color: white;
      }
    }
  }
}
